# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Build and Dist
build/
dist/
*.spec

# Forensics Temp Files
_tmp_ela.jpg
_tmp_jg.jpg

# IDEs
.vscode/
.idea/

# Assets (Originals)
assets/icon.png
# assets/icon.ico  <-- Giữ lại nếu muốn đi kèm repo, hoặc bỏ để auto-gen

# OS
Thumbs.db
desktop.ini

*.toc
*.pkg
*.zip
*.pyz
*.txt
*.html

